@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
        width: 240px;
        height: 60px;
    }
    .descricao{
        width: 130%;
    }
}

@media screen and (min-width:1000px) {
    .descricao{
        width: 60%
    }
}